html
    head
        title 메인화면임ㅇㅇ
        style
            include css/main.css
    body
        h1 제에모오옥
        button.btn.login#google 구글 로그인임 ㅇㅇ
        br
        button.btn.login#naver 네이버 로그인임 ㅇㅇ
        br
        button.btn.login#facebook 페이스북 로그인임 ㅇㅇ