<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        Username
        <br>
        <input type="text" name="username">
        <br>
        Password
        <br>
        <input type="password" name="password1" id="password1">
        <br>
        Confirm Password
        <br>
        <input type="password" name="password2" id="password2" oninput="pwCheck()">
        <br><br>
        <input type="submit" value="회원가입">
    </form>
    <script>
        let pw1 = document.getElementById('password1')
        let pw2 = document.getElementById('password2')
        function pwCheck(){
            if(pw1.value === pw2.value)
                pw2.style.backgroundColor = '#00dd00'
            else
                pw2.style.backgroundColor = '#ff0000'
        }
    </script>
</body>
</html>