<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        Username
        <br>
        <input type="text" name="username" maxlength="20">
        <br>
        Password
        <br>
        <input type="password" name="password1" id="password1">
        <br>
        Confirm Password
        <br>
        <input type="password" name="password2" id="password2" oninput="pwCheck()">
        <br><br>
        <input type="submit" value="회원가입" id="submit">
    </form>
    <script>
        let pw1 = document.getElementById('password1')
        let pw2 = document.getElementById('password2')
        let submit = document.getElementById('submit')

        submit.disabled = 'disabled'

        function pwCheck(){
            if(pw1.value === pw2.value){
                isCheckPw = true
                pw2.style.backgroundColor = '#00dd00'
                submit.disabled = false
            }
            else{
                isCheckPw = false
                pw2.style.backgroundColor = '#ff0000'
                submit.disabled = 'disabled'
            }
        }
    </script>

</body>
</html>