<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홈</title>
</head>
<body>
    {% if user.is_active %}
    <h2>환영합니다. {{ user.username }}님</h2>
    <a href="{% url 'logout' %}">로그아웃</a>
    <a href="{% url 'select' %}">들어가기</a>
    {% else %}
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% url 'register' %}">회원가입</a>
    {% endif %}
</body>
</html>